.con-edit {
  position: fixed;
  inset: 0;
  z-index: 20;
  height: 100svh;
  width: 100%;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(0, 0, 0, 0.834);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  width: 90%;
  height: 100svh;
  max-width: 30rem;
  background-color: #355872;
  display: inline-flex;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.edit-form h2 {
  font-weight: 900;
  color: var(--font);
}

.edit-form div {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.edit-form div label {
  color: var(--font);
  font-weight: 800;
}

.edit-form div input {
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
}
