.con-edit {
  position: fixed;
  inset: 0;
  z-index: 20;
  height: 100svh;
  width: 100%;
  /* backdrop-filter: blur(2px); */
  background-color: rgba(0, 0, 0, 0.834);
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-form {
  width: 90%;
  height: 100svh;
  max-width: 30rem;
  background-color: #355872;
  display: inline-flex;
}
